<%= form_with(model: message, remote: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Текст сообщения' %>
    <%= form.text_area :text, id: :message_text, cols: 60, rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit 'Отправить' %>
  </div>
<% end %>
